@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}
body{
    line-height: 1.4;
    color: var(--dark);
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/* header */
.header{
    min-height: 35vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/banner-bg.jpg) center/cover no-repeat fixed;
    
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding-bottom: 3em;
}
.navbar{
    background: #262629;
    padding: .5rem;
    
}
.navbar-brand{
    color: #fff;
    font-size: 2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--Playfair);
    letter-spacing: 1px;
}
.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}
.navbar-nav a{
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}
.navbar-nav a:hover{
    opacity: 0.7;
}
.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.banner-title{
    font-size: 3rem;
    font-family: var(--Playfair);
    line-height: 1.2;
}
.banner-title span{
    font-family: var(--Playfair);
    color: var(--exDark);
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}
.search-input{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    /* width: 100%; */
    width: 700px;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}
.search-input::placeholder{
    text-transform: capitalize;
}
.search-btn{
    width: 40px;
    font-size: 1.1rem;
    color: var(--dark);
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}

/* design */
.design{
    padding: 2.5rem 0;
}
.title{
    text-align: center;
    padding: 1rem 0;
    /* font-size: 15px; */
}
.title h2{
    font-family: var(--Playfair);
    font-size: 2.4rem;
}
.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
    font-size: 19px;
    font-weight: bold;
}
.design-content{
    margin: 1rem 0;
}
.design-item{
    cursor: pointer;
    margin: 1.5rem 0;
}

.design-img{
    position: relative;
    overflow: hidden;
    height: 30vh;
}
.design-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.design-img img{
    transition:  all 0.5s ease;
}
.design-item:hover img{
    transform: scale(1.2);
}
.design-img span:first-of-type{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: var(--exDark);
    color: #fff;
    padding: 0.25rem 1rem;
}
.design-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
.design-title{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.design-title a{
    color: var(--dark);
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--Playfair);
}
.text-preview {
    width: 300px; /* Adjust the width as needed */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 
 position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    background-color: #ff2d20; 
    color: white;
    height: 6rem; 
    opacity: 0.9;
    z-index: 1000;

*/
/* footer */
footer{
    background: var(--exDark);
    color: #fff;
    text-align: center;
    padding: 1rem ;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.8;
    font-size: 20px;
}
.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.social-links a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}

.social-links a:hover{
    background: #fff;
    color: var(--exDark);
}
.footer span{
    margin-top: 1rem;
    display: block;
    font-family: var(--Playfair);
    letter-spacing: 2px;
    font-size: 25px;
}

.footer-post:link,
.footer-post:visited{
    color: white;
}


.footer-post{
    color: white;
    text-decoration: none;
    background: #000000;
    min-width: 100px;
    display: inline-block;
    margin-left: 5rem;
    border-radius: 4px;
    font-weight: 600;
    padding: 0 5px;
    
}


/* login section */


.main,main {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.login-container {
    background-color: #ffffff;
    padding: 2.5rem 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}


.login-container-v2{
    background-color: #ffffff;
    padding: 2.5rem 3rem;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    text-align: center;

}
.login-container-v2 h2 ,.login-container h2 {
    margin-bottom: 1.5rem;
    color: #333333;
    font-size: 1.5rem;
}

.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555555;
    font-size: 19px;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #262629;
    outline: none;
}

button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    background-color: #262629;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #2e2e31;
    transform: translateY(-2px);
}

button:active {
    background-color: #262629;
    transform: translateY(0);
}

/* about */
.about{
    padding: 1.5rem 0;
    min-width: 80%;
}
/*
.about-content img{
    display: inline-block;
}
.container-about{
    display: inline;
*/

.about-image img {
    width: 500px;
    border: 1px solid black;
    box-shadow: 10px 15px 0px 0px rgba(0, 0, 0, 1);
}


.about-text{
    margin-right: 4rem;
    border: 1px  solid black;
    
}

.about-text > p{
    font-size: 1.1rem;
    padding: 2rem 1rem;
    
    opacity: 0.8;
    text-align: center;
} 


/* Update and the Delete button */
.button-container {
    display: flex;
    gap: 0.5rem; /* Adjusts space between buttons */
    font-weight: 600;
    margin: 4px;

}

.button-container-show{
    display: flex;
    justify-content: space-between;
}
.btn-update {
    background-color: #3c393d; /* Tailwind blue-500 */
    color: white;
    padding:0.25rem 0.5rem; /* Smaller padding */
    font-size: 20px; /* Text-sm */
    border-radius: 0.25rem; /* Rounded corners */
    transition: background-color 0.3s;
    height: 40px;
    
    

}

.btn-update:hover {
    background-color: #515358; /* Tailwind blue-600 */
}

.btn-delete {
    background-color: rgb(107, 107, 107); /* Tailwind red-500 */
    color: white;
    padding: 0.25rem 0.5rem; /* Smaller padding */
    font-size: 20px; /* Text-sm */
    border-radius: 0.25rem; /* Rounded corners */
    transition: background-color 0.3s;
}

.btn-delete:hover {
    background-color: rgb(116, 111, 111); /* Tailwind red-600 */
}



/* Media Queries */
@media screen and (min-width: 540px){
    .navbar-nav a{
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search-input{
        padding: 0.8rem 0;
    }
    .design-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .design-item{
        margin: 0;
    }
    
}

@media screen and (min-width: 992px){
    .about-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .design-content{
        grid-template-columns: repeat(3, 1fr);
    }
}
